# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch specific
*.pt
*.pth

# Manim temporary files
media/
*.mp4
*.gif
*.png
*.json

# Logs and databases
*.log
*.sqlite3

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Compressed files
*.gz
