# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch specific
*.pt
*.pth

# Manim temporary files
media/
*.mp4
*.gif
*.png
*.jpg
*.jpeg
*.webp

# Images for manual
!**/manual_images/*.png

# JSON rules
*.json
!**/package.json


# Logs and databases
*.log*
*.sqlite3

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Models training data and compressed files
*-ubyte
*.gz

# Node modules
node_modules/

# Model path
model_path.txt

# Distribution & output dirs
dist
out

# ESLint
.eslintcache

# Vite
.vite

# Venv
venv311
